<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/allEvents">All Events</a>
      <a href="/logout">Logout</a>
    </nav>
    <div class="container">
      <% eventList.forEach(event => { %>
      <div class="event">
        <h2>Title: <%= event.eventTitle %></h2>
        <img src="<%= event.eventImg %>" /><br />
        <div class="link">
          <a href="/viewEvent/<%= event.id %>">Event Details</a> <br />
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
